.bg1 {
    background-color: #F1FCFF;
}

// .mr-5 { margin-right:5rem!important; }

.custom-scrollbar {
    position: relative;
    height: 410px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

.btn {
    font-size: 14px;
    color: #00617F;
    border-radius: 5px;
}

// Custom Color for Badge
:root {
    --bs-success-rgb: 187, 255, 204;
}

.bg-success {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity)) !important;
    color: #008836;
}

.badge-radius {
    border-radius: 0px 150px 150px 150px / 0px 75px -1px 75px;
}

// custom table css
table:not(.sticky) {
    margin-top: 0px;
}

// custom HR
.custom-hr {
    border: 1px solid #00617F;
    border-radius: 5px;
    opacity: 100%;
}

// Custom Card List
.card-header {
    padding: 0.5rem 1rem;
    margin-bottom: 0;
    background-color: white;
    border-bottom: 2px solid #00617F;
}

.list-group-flush {
    border-radius: 0;
}

.list-group-flush>.list-group-item {
    border-width: 0 0 1px;
}

.list-group-flush>.list-group-item:last-child {
    border-bottom-width: 0;
}

// Search Bar
  
  .search input {
    background-color: white;
    border: 0;
    border-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 18px;
    height: 35px;
  }
  
  .searchIcon {
    height: 35px;
    width: 30px;
    background-color: white;
    display: grid;
    place-items: center;
  }

  .v-divider{
    width: 1px;
    border-left: 1px solid #AAAAAA;
}