.hr1 {
    border: 2px solid #00617F;
    margin: 1rem 0;
    color: inherit;
    background-color: currentColor;
    opacity: 1;
    border-radius: 2px;
}

.v-divider{
    width: 1px;
    border-left: 1px solid #AAAAAA;
}